
extend layout

block content
    .container-fluid.main(style='height: 100%;')
      div(style='margin-bottom:100px')
      .row
        .col-md-4.col-xs-4.col-sm-4
        .col-md-4.col-xs-4.col-sm-4
          each thing in data
           .panel.panel-default
              .panel-body
                img.circle(src='#{thing.url}', alt='icon')
              .panel-footer
                h4 
                  a(href='./artist/#{thing.id}') #{thing.fc}

        .col-md-4.col-xs-4.col-sm-4
        
        