extend layout

block content
    // Page Content
    .album.text-muted(style="padding-top:60px")
      .container
        .row
          each thing in data
            .card
              img.img-responsive( height=" 280px", width="100%", display="block",data-src="holder.js/289px280/thumb" src='#{thing.thumbnailUrl}', alt='Card image cap')
              p.card-text #{thing.creditLine}
              a.btn.btn-primary(href='/artworks/#{thing.id}',style=" width: 100%;")
               | View Artwork