.about
  ul#pick_colors
    li
      span#_7F8C8D.colors(ng-click="setColor('#7F8C8D')")
        span(ng-if="theme[0][0]['color'] === '#7F8C8D'")
          i.mega-octicon.octicon-check
    li
      span#_95A5A6.colors(ng-click="setColor('#95A5A6')")
        span(ng-if="theme[0][0]['color'] === '#95A5A6'")
          i.mega-octicon.octicon-check
    li
      span#_BDC3C7.colors(ng-click="setColor('#BDC3C7')")
        span(ng-if="theme[0][0]['color'] === '#BDC3C7'")
          i.mega-octicon.octicon-check
    li
      span#_C0392B.colors(ng-click="setColor('#C0392B')")
        span(ng-if="theme[0][0]['color'] === '#C0392B'")
          i.mega-octicon.octicon-check
    li
      span#_E74C3C.colors(ng-click="setColor('#E74C3C')")
        span(ng-if="theme[0][0]['color'] === '#E74C3C'")
          i.mega-octicon.octicon-check
    li
      span#_F39C12.colors(ng-click="setColor('#F39C12')")
        span(ng-if="theme[0][0]['color'] === '#F39C12'")
          i.mega-octicon.octicon-check
    li
      span#_F1C40F.colors(ng-click="setColor('#F1C40F')")
        span(ng-if="theme[0][0]['color'] === '#F1C40F'")
          i.mega-octicon.octicon-check
    li
      span#_8E44AD.colors(ng-click="setColor('#8E44AD')")
        span(ng-if="theme[0][0]['color'] === '#8E44AD'")
          i.mega-octicon.octicon-check
    li
      span#_CA2C68.colors(ng-click="setColor('#CA2C68')")
        span(ng-if="theme[0][0]['color'] === '#CA2C68'")
          i.mega-octicon.octicon-check
    li
      span#_EA4C88.colors(ng-click="setColor('#EA4C88')")
        span(ng-if="theme[0][0]['color'] === '#EA4C88'")
          i.mega-octicon.octicon-check
    li
      span#_2C3E50.colors(ng-click="setColor('#2C3E50')")
        span(ng-if="theme[0][0]['color'] === '#2C3E50'")
          .mega-octicon.octicon-check