
extend layout

block content
    .container-fluid.main.album(style='height: 100%;')
      .row
        .col-md-3.col-xs-3.col-sm-3
        .col-md-6.col-xs-6.col-sm-6
          .error-template
            .error-details
              | Sorry, an error has occured, Requested page not found!
            .error-actions
              a.btn.btn-primary.btn-lg(href='./')
                span.glyphicon.glyphicon-home
                |                         Take Me Home
              a.btn.btn-default.btn-lg(href='http://www.tate.org.uk/join-support/donate')
                span.glyphicon.glyphicon-envelope
                |  Contact Support
        .col-md-3.col-xs-3.col-sm-3
