extend layout
block content

    .container-fluid.main.album(style='height: 100%;')
      .row(style='margin-top: 50px;padding-top:50px;')
        .col-md-4
          .album
            .container
              h3.panel-title.simple Featured Artists
              each thing in artists
                .card2
                  img.circle(data-src="holder.js/100px280/?text=#{thing.fc}", alt='icon')
                  h4.list-group-item-heading 
                  a.btn.btn-primary(href='./artist/#{thing.id}',style=" width: 100%;") Learn More
                
        .col-md-8
          .album
            .container
              h3.simple Featured Artwork
              .row
              each thing in artworks
                .card
                  img.img-responsive(src='#{thing.thumbnailUrl}', alt='Card image cap')
                  a.btn.btn-primary(href='/artworks/#{thing.id}',style=" width: 100%;") Learn More   

                  
                  
                  
      