extend layout
block content

    .container-fluid.main.album(style='height: 100%;')
      .row(style='margin-top: 50px;padding-top:50px;')
        .col-md-4.col-sm-4
          .panel
            .panel-heading
              h3.panel-title Featured Artists
            .panel-body
              each thing in artists
                .list-group.nothide
                  .list-group-item
                    .row-picture
                      img.circle(data-src="holder.js/100px280/?text=#{thing.fc}", alt='icon')
                    .row-content
                      h4.list-group-item-heading 
                        a.btn.btn-primary(href='./artist/#{thing.id}') Learn More
                  .list-group-separator
                
        .col-md-8.col-sm-8
          .album
            .container
              h3 Featured Artwork
              .row
              each thing in artworks
                .card
                  img.img-responsive(src='#{thing.thumbnailUrl}', alt='Card image cap')
                  a.btn.btn-primary(href='/artworks/#{thing.id}') Learn More   

                  
                  
                  
      